// src/styles/EditVotingStyles.scss

.edit-voting-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #121212;
    border-radius: 8px;
    background-color: #1e1e1e;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
    color: #555;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #403d3d;
    border-radius: 4px;
    font-size: 16px;
}

textarea {
    height: 100px;
    resize: none; // Запретить изменение размера текстовой области
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.error-message {
    color: #dc3545;
    margin-bottom: 20px;
    text-align: center;
}