.footer {
    background-color: #1e1e1e; /* Темный фон */
    color: #ffffff; /* Белый текст */
    padding: 15px; /* Отступы */
    width: 100%; /* Ширина на всю страницу */
    position: relative; /* Для позиционирования */
    margin-top: auto; /* Позволяет footer оставаться внизу */
}