// src/styles/HomeStyles.scss

.home-container {
    padding: 20px; // Отступы
}

.voting-list {
    display: grid; // Используем Grid
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); // Сетка с минимальной шириной
    gap: 20px; // Промежутки между элементами
}

.voting-card {
    margin-top: 15px;
    display: flex; // Используем Flexbox
    flex-direction: column; // Вертикальное выравнивание
    justify-content: space-between; // Распределяем пространство между элементами
    background-color: #1e1e1e; // Темный фон для карточки
    border: 1px solid #403d3d; // Цвет рамки
    border-radius: 8px; // Закругленные углы
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Тень для эффекта поднятия
    padding: 15px; // Внутренние отступы
}

.voting-image img {
    width: 100%; // Ширина изображения 100%
    max-height: 200px;
    border-radius: 5px; // Закругленные углы для изображения
}

.voting-title {
    color: #ffffff; // Цвет заголовка
    margin-top: 15px;
}

.voting-description {
    color: #cccccc; 
}
h5 {
    font-size: 2.2em; 
    // Увеличиваем отступ под заголовком
}

.voting-type, .voting-author {
    color: #aaaaaa;
    margin-bottom: 20px; // Цвет для типа голосования и автора
}

.btn {
    margin-top: auto;
}
