.registration-container {
    max-width: 400px; 
    margin: 50px auto; 
    padding: 20px; 
    background-color: #1e1e1e; 
    border: 1px solid #403d3d; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

h1 {
    text-align: center; 
    color: #ffffff;
    margin-bottom: 15px; /* Отступ под заголовком */
}

form {
    display: flex;
    flex-direction: column; /* Располагаем элементы по вертикали */
}

label {
    display: block;
    margin-bottom: 20px; 
    color: #ffffff; 
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
select {
    width: 100%; 
    padding: 10px; 
    margin-top: 10px; /* Отступ между меткой и полем ввода */
    margin-bottom: 15px; 
    border: 1px solid #403d3d; 
    border-radius: 5px; 
    background-color: #2a2a2a; 
    color: #ffffff; 
    box-sizing: border-box; 
}

input:focus,
select:focus {
    outline: none; 
    border-color: #1e90ff; 
}

button {
    width: 100%; 
    padding: 10px; 
    margin-top: 10px; /* Отступ сверху для кнопки */
    background-color: #403d3d; 
    color: #ffffff; 
    border: none; 
    border-radius: 6px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555; 
}

.error-message {
    color: #ff4d4d; 
    margin: 10px 0; 
    text-align: center; /* Выравнивание по центру */
}

.success-message {
    color: #4caf50; 
    margin: 10px 0; 
    text-align: center; /* Выравнивание по центру */
}
